.todo{
    font-size: 15px;
    color: black;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
    display: flex;

}
.todo:last-child{
    border-bottom: none;
}
.todo > p{
 margin: 0;
 padding: 15px;
}
.check{
    text-decoration: line-through;
    opacity: .3;
}
.todo img{
    padding-left: 10px;
    justify-content: flex-start;
    align-items: center;
}
.Statuss{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    align-items: center;

}
.Statuss button{
    cursor: pointer;
    text-decoration: none;
    color: white;

}
